.content-container {
  position: relative;
  max-width: 600px;
  width: 92%;
  margin: 60px auto 40px auto;
  text-align: left;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 28px;
}

.menu{ 
  min-width: 150px; 
  max-width: 250px; 
  margin-top: 20px;
  margin-left: 30px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}

.menu ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li{
  margin-bottom: 1rem;
}

.menu a{
  text-decoration: none;
  color:#000000;
  position: relative
}



.menu a:hover{
  color: gray; 
}